@{
    ViewBag.Title = "Home Page";
    var platform = ViewBag.Platform;
}

@section scripts{

    @Scripts.Render("~/bundles/angular")

<script src="~/cordovaApp/bootStrapper.js"></script>
<script src="~/cordovaApp/home/homeCtrl.js"></script>
<script src="~/cordovaApp/contact/contactCtrl.js"></script>
<script src="~/cordovaApp/calendar/calendarCtrl.js"></script>

    @if (platform == "android" || platform == "ios" || platform == "windows")
    {
        // load the cordova only platform is android/ios/windows
        @Scripts.Render("~/cordovadist/" + platform + "/cordova.js");
        @Scripts.Render("~/cordovaApp/app.js"); // this will be the MobileWrapper

    }
}

<div class="jumbotron">
    <h2>Hosted App: @platform</h2>
    <ul>
        <li><a href="/#"><span>Angular Home</span></a></li>
        <li><a href="/#/contact"><span>Native Contact</span></a></li>
        <li><a href="/#/calendar"><span>Native Calendar</span></a></li>
    </ul>

    <button class="btn btn-primary btn-lg" id="btnGetContacts">Get the contact list &raquo;</button>
    <div id="contactList"></div>
</div>

<div data-ng-app="hostedApp">
    <div ng-view></div>
</div>
