Karma/karma-angular/node_modules/
Karma/karma-angular/coverage/
Karma/karma-angular/bower_components/
Karma/karma_play/bower_components/
Jasmine/Jasmine/bower_components/
yuyan/bower_components/
yuyan@2Feb2016/bower_components/
yuyan/yuyan/bower_components/
yuyan/yuyan/obj/
material/bower_components/
