Karma/karma-angular/node_modules/
Karma/karma-angular/coverage/
Karma/karma-angular/bower_components/
Karma/karma_play/bower_components/
Jasmine/Jasmine/bower_components/
yuyan/bower_components/
yuyan@2Feb2016/bower_components/
yuyan/yuyan/bower_components/
yuyan/yuyan/obj/
material/bower_components/
yuyan/yuyan.v12.suo
yuyan/yuyan/node_modules/
yuyan/yuyan/debug/
yuyan/yuyan/dist/
URF/packages/
UnitOfWorkRepository/packages/
URF/URF/obj/
URF/URF/bin/
UnitOfWorkRepository/UnitOfWorkRepository/obj/
UnitOfWorkRepository/UnitOfWorkRepository/bin/
ReactJsCore/src/ReactJsCore/obj/
ReactJsCore/src/ReactJsCore/bin/
ReactJsMvc4/ReactJsMvc4/bin/
ReactJsMvc4/packages/
ReactJsMvc4/ReactJsMvc4/obj/
