<!-- Footer -->


<!-- <div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col footer-social">
                <fa-icon [icon]="faFacebookSquare"></fa-icon>
                <fa-icon [icon]="faTwitterSquare"></fa-icon>
                <fa-icon [icon]="faWeixin"></fa-icon>
            </div>
        </div>
    </div>
</div> -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.tobe.com.au/"> tobe.com.au</a>
</div>


<!-- Footer -->