<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <button type="button" class="btn btn-link" data-ng-click="goHome()">
            &laquo; Home
        </button>

        <div>
            <div class="text-center text-primary" style="margin-top: 30px;" data-ng-show="APIMini > APIResolved">
                <br />
                <i class="fa fa-spinner fa-pulse" style="font-size:48px"></i>
            </div>
            <div data-ng-show="APIMini <= APIResolved">

                <button type="button" class="btn btn-link btn-lg pull-right" data-ng-click="addEditSurvey()"><i class="glyphicon glyphicon-plus"></i> Add Survey</button>
                <div class="clearfix"></div>
                <hr />
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr class="text-primary">
                                <th style="width: 40%">Title</th>
                                <!--<th style="width: 10%" class="text-center">Questions</th>-->
                                <th style="width: 10%" class="text-center">Visit</th>
                                <th style="width: 10%" class="text-center">Complete</th>
                                <th style="width: 40%" class="text-center"><i class="fa fa-cogs"></i> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="s in surveys">
                                <td>
                                    <small>
                                        <a data-ng-click="previewSurvey(s)">{{s.Title}}</a> &nbsp;
                                        <span class="label label-success">{{s.dtoQuestions.length}}</span>
                                    </small>
                                </td>
                                <!--<td class="text-center"><span class="badge alert-info">{{s.dtoQuestions.length}}</span></td>-->
                                <td class="text-center"><span class="badge alert-success">24</span></td>
                                <td class="text-center"><span class="badge alert-info">4</span></td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-link btn-sm" data-ng-click="addEditSurvey(s)"><i class="fa fa-edit"></i> <span class="hidden-xs hidden-sm">Edit</span></button>
                                    <button type="button" class="btn btn-link btn-sm" data-ng-click="goQuestion(s)"><i class="fa fa-list-ol"></i> Question</button>
                                    <!--<button type="button" class="btn btn-link btn-sm"><i class="fa fa-pie-chart"></i> <span class="hidden-xs hidden-sm">Report</span></button>-->
                                    <!--<button type="button" class="btn btn-link btn-sm"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm">Share</span></button>-->
                                    <button type="button" class="btn btn-danger btn-sm" data-ng-click="deleteSurvey(s)"><i class="fa fa-remove"></i> <span class="hidden-xs hidden-sm">Delete</span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>