<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>CHORICE - Quick &and; Easy Survey</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/toastr/toastr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/gapcss.css">
    <link rel="stylesheet" type="text/css" href="css/survey.css">
</head>
<body data-ng-app="yuyanApp" ng-cloak>

    <div data-ng-controller="surveyCtrl">
        <div class="container pad20">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <h1 ng-non-bindable class="text-center"><strong>{{chorice}}</strong></h1>
                    <h3 class="text-center">You have a <code>Choice</code>!</h3>
                    <blockquote>
                        <p>Create online survey, questionary, data collection, test... Quick & Easy.</p>
                    </blockquote>
                    <hr />
                    <!--{{dtoQuestions | json}}-->
                    <div class="btn-group btn-group-sm pull-right">
                        <button type="button" class="btn btn-link" data-ng-click="reset()">
                            <i class="glyphicon glyphicon-trash"></i> Reset
                        </button>
                        <button type="button" class="btn btn-link" data-ng-click="previewSurvey()">
                            <i class="glyphicon glyphicon-eye-open"></i> Preview
                        </button>
                        <button type="button" class="btn btn-link" data-ng-click="saveSurvey()">
                            <i class="glyphicon glyphicon-floppy-disk"></i> Save
                        </button>
                    </div>

                    <div data-ng-repeat="q in dtoQuestions">
                        <h2 class="break-word">{{q.QuestionId}}. {{q.Question}}</h2>
                        <form>
                            <div data-ng-repeat="i in q.dtoItems">
                                <h4 class="break-word">
                                    <input type="checkbox" data-ng-if="q.QuestionType==1" />
                                    <input type="radio" name="i.QuestionId" data-ng-if="q.QuestionType==2" />
                                    {{i.ItemDescription}}
                                </h4>
                            </div>
                        </form>
                    </div>

                    <div data-ng-show="showAddItem">
                        <form name="itemForm" class="force-line" novalidate>
                            <div class="form-group has-success has-feedback">
                                <input type="text" class="form-control input-sm" name="itemInput" placeholder="some item" data-ng-model="item" data-ng-minlength="3" data-ng-maxlength="150" required />
                                <span class="glyphicon glyphicon-check form-control-feedback" data-ng-if="DefaultQuestionType==1"></span>
                                <span class="glyphicon glyphicon-record form-control-feedback" data-ng-if="DefaultQuestionType==2"></span>
                            </div>
                            <button type="submit" class="btn btn-success btn-sm" data-ng-disabled="itemForm.$invalid" data-ng-click="addItem(QID)"><i class="glyphicon glyphicon-plus"></i> Add</button>
                        </form>

                        <!--<button class="btn btn-info btn-lg" data-ng-click="previewSurvey()">Preview</button>-->
                        <button class="btn btn-link pull-right" data-ng-show="!disableNext" data-ng-disabled="disableNext" data-ng-click="nextQuestion()">Next Question &raquo;</button>
                    </div>
                    <br />
                    <div data-ng-show="!showAddItem">
                        <form name="questionForm" novalidate>
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="IntQuestion">{{IntQuestion}}</label>
                                <input type="text" id="IntQuestion" class="form-control input-lg" name="questionInput" placeholder="{{placeholder}}" data-ng-model="question" data-ng-minlength="3" data-ng-maxlength="200" required />
                                <span class="glyphicon glyphicon-check form-control-feedback" data-ng-if="DefaultQuestionType == 1"></span>
                                <span class="glyphicon glyphicon-record form-control-feedback" data-ng-if="DefaultQuestionType == 2"></span>
                            </div>
                            <div class="form-group">

                                <div class="btn-group" uib-dropdown>
                                    <button type="button" class="btn btn-success" data-ng-disabled="questionForm.$invalid" data-ng-click="addQuestion()">
                                        <i class="glyphicon glyphicon-plus"></i> Add Question
                                    </button>
                                    <button type="button" class="btn btn-success" uib-dropdown-toggle>
                                        <span data-ng-if="DefaultQuestionType==1"><i class="glyphicon glyphicon-check"></i> Multiple</span>
                                        <span data-ng-if="DefaultQuestionType==2"><i class="glyphicon glyphicon-record"></i> Single</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li role="menuitem" data-ng-click="DefaultQuestionType = 1"><a href="#"><i class="glyphicon glyphicon-check"></i> Checkbox - Multiple Choice</a></li>
                                        <li role="menuitem" data-ng-click="DefaultQuestionType = 2"><a href="#"><i class="glyphicon glyphicon-record"></i> Option - Single Choice</a></li>
                                        <li class="divider"></li>
                                        <li role="menuitem"><a href="#"><i class="glyphicon glyphicon-question-sign"></i> FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <br class="xs-10" />
                        <p class="text-center">
                            <button type="button" class="btn btn-link" data-ng-click="userLogout()" data-ng-if="isLogin">
                                <i class="glyphicon glyphicon-log-out"></i>&nbsp;logout
                            </button>
                            <button type="button" class="btn btn-link" data-ng-click="userLogin()" data-ng-if="!isLogin">
                                <i class="glyphicon glyphicon-log-in"></i>&nbsp;login
                            </button>
                            <button type="button" class="btn btn-link" data-ng-click="userRegister()" data-ng-if="!isLogin">
                                <i class="glyphicon glyphicon-user"></i>&nbsp;register
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/toastr/toastr.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <!-- yuyan app -->
    <script src="js/app.js"></script>
    <script src="js/constant.js"></script>
    <script src="js/services.js"></script>
    <script src="js/config.js"></script>
    <script src="js/authInterceptor.js"></script>
    <script src="js/directives.js"></script>

    <script src="js/survey/survey.controller.js"></script>
    <script src="templates/previewModalCtrl.js"></script>
    <script src="templates/userModalCtrl.js"></script>
    <script src="templates/userWizardCtrl.js"></script>
</body>
</html>
