<ion-view view-title="Main">
    <ion-content scroll="false">
        <div class="bg-cover">
            <section class="header">
                <img class="logo" src="img/thrivor_logo.svg" />
                <p>Thrivor's mission is to help solve the everyday challenges for people living with cancer.</p>
                <!--<a ui-sref="comingSoon">Coming Soon</a>-->
            </section>
            <div class="list member-buttons-list">
                <button class="button button-block member item" ng-click="goSignIn()">I'm already a member</button>
                <button ng-click="setUserType(5)" class="button button-block supporter item">I'm a support person</button>
                <button ng-click="setUserType(1)" class="button button-block patient item">I'm the patient</button>
            </div>
        </div>
    </ion-content>
</ion-view>