<ion-view view-title="Welcome back">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button ng-show="!isDeviceKnowUser" ui-sref="signInEmail">Back
        </ion-nav-back-button>
    </ion-nav-bar>

    <!--<ion-nav-buttons side="primary">
        <button class="button button-clear button-icon icon ion-ios-arrow-back" ng-show="!isDeviceKnowUser" ui-sref="signInEmail">
            Email
        </button>
    </ion-nav-buttons>-->
    <!--Subheader-->
    <div class="bar bar-subheader text-center">
        <span class="thrivor-logo">Thrivor</span>
    </div>

    <ion-content scroll="false" class="bg-stable has-header has-subheader">

        <div class="signIn signin-pin row row-center" novalidate>

            <div class="input-pin col">
                <div class="row responsive-sm">
                    <div class="col col-33 col-offset-33 col-bottom text-center">
                        <label> {{signinFull.email}}</label>
                        <div class="input-group">
                            <input type="password" maxlength="1" value="{{signinFull.password.substring(0, 1)}}" readonly>
                            <input type="password" maxlength="1" value="{{signinFull.password.substring(1, 2)}}" readonly>
                            <input type="password" maxlength="1" value="{{signinFull.password.substring(2, 3)}}" readonly>
                            <input type="password" maxlength="1" value="{{signinFull.password.substring(3, 4)}}" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="onscreen-keypad col">
                <div class="row responsive-sm">
                    <div class="col col-33 col-offset-33 col-top">
                        <div class="row button-row">
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(1)"><b>1</b></button>
                            </div>
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(2)"><b>2</b><span>abc</span></button>
                            </div>
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(3)"><b>3</b><span>def</span></button>
                            </div>
                        </div>
                        <div class="row button-row">
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(4)"><b>4</b><span>ghi</span></button>
                            </div>
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(5)"><b>5</b><span>jkl</span></button>
                            </div>
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(6)"><b>6</b><span>mno</span></button>
                            </div>
                        </div>
                        <div class="row button-row">
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(7)"><b>7</b><span>pqrs</span></button>
                            </div>
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(8)"><b>8</b><span>tuv</span></button>
                            </div>
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(9)"><b>9</b><span>wxyz</span></button>
                            </div>
                        </div>
                        <div class="row button-row">
                            <div class="col col-center">
                                <button class="button-keypad button-keypad-text" ng-click="goRetrievePasscode()">I forgot</button>
                            </div>
                            <div class="col col-center">
                                <button class="button-keypad" ng-click="enterPasscodeDigit(0)"><b>0</b></button>
                            </div>
                            <div class="col col-center">
                                <button class="button-keypad button-keypad-text" ng-click="removePasscodeDigit()">delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bar bar-footer bar-assertive no-padding">
            <button class="button button-full button-assertive no-margin" ng-disabled="signIn.$invalid || signinFull.password.length < 4" ng-click="signInUser()">Continue</button>
        </div>


    </ion-content>
</ion-view>

