<div class="modal-body">
    <button type="button" class="close" data-ng-click="cancel()">&times;</button>
    
    <div class="form-group">
        <label>Delete Confirm?</label>
    </div>
  
    <div class="form-group">
        <h3>{{survey.Title}}</h3>
        <h2>{{survey.ShortDesc}}</h2>
    </div>
    <div class="form-group">


    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-danger btn-sm" data-ng-click="ok()">
            <i class="glyphicon glyphicon-remove"></i> Confirm
        </button>
        <button type="button" class="btn btn-link btn-sm" data-ng-click="cancel()">
            Cancel
        </button>
    </div>
    <div class="clearfix"></div>
</div>