<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h1 ng-non-bindable class="text-center"><strong>{{chorice}}</strong></h1>
        <h3 class="text-center">You have a <code>Choice</code>!</h3>
        <blockquote>
            <p>Create online survey, questionary, data collection, test... Quick & Easy.</p>
        </blockquote>
        <hr />

        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-link" data-ng-click="reset()" data-ng-disabled="disableController">
                <i class="glyphicon glyphicon-refresh"></i> Reset
            </button>
            <button type="button" class="btn btn-link" data-ng-click="previewSurvey()" data-ng-disabled="disableController">
                <i class="glyphicon glyphicon-eye-open"></i> Preview
            </button>
            <button type="button" class="btn btn-link" data-ng-click="saveSurvey()" data-ng-disabled="disableController">
                <i class="glyphicon glyphicon-floppy-disk"></i> Save
            </button>
        </div>

        <div data-ng-repeat="q in dtoQuestions">
            <h3 class="break-word">{{q.QuestionId}}. {{q.Question}}</h3>

            <div style="padding-left: 40px;" data-ng-repeat="i in q.dtoItems" data-ng-class="{'checkbox checkbox-success':q.QuestionType==1, 'radio radio-success':q.QuestionType==2}">

                <input type="checkbox" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}" data-ng-if="q.QuestionType==1" />
                <input type="radio" name="question{{i.QuestionId}}" id="item{{i.QuestionItemId}}" data-ng-if="q.QuestionType==2" />
                <label class="break-word" for="item{{i.QuestionItemId}}">{{i.ItemDescription}}</label>

            </div>

        </div>

        <div style="padding-left: 20px;" data-ng-show="showAddItem">
            <form name="itemForm" class="force-line" novalidate>
                <div class="form-group has-success has-feedback">
                    <input type="text" class="form-control input-sm" name="itemInput" placeholder="some item" data-ng-model="item" data-ng-minlength="3" data-ng-maxlength="150" required />
                    <span class="glyphicon glyphicon-check form-control-feedback" data-ng-if="DefaultQuestionType==1"></span>
                    <span class="glyphicon glyphicon-record form-control-feedback" data-ng-if="DefaultQuestionType==2"></span>
                </div>
                <button type="submit" class="btn btn-success btn-sm" data-ng-disabled="itemForm.$invalid" data-ng-click="addItem(QID)"><i class="glyphicon glyphicon-plus"></i> Add</button>
            </form>

            <!--<button class="btn btn-info btn-lg" data-ng-click="previewSurvey()">Preview</button>-->
            <button class="btn btn-link pull-right" data-ng-show="!disableNext" data-ng-disabled="disableNext" data-ng-click="nextQuestion()">Next Question &raquo;</button>
        </div>
        <br />
        <div data-ng-show="!showAddItem">
            <form name="questionForm" novalidate>
                <div class="form-group has-success has-feedback">
                    <label class="control-label" for="IntQuestion">{{IntQuestion}}</label>
                    <input type="text" id="IntQuestion" class="form-control input-lg" name="questionInput" placeholder="{{placeholder}}" data-ng-model="question" data-ng-minlength="3" data-ng-maxlength="200" required />
                    <span class="glyphicon glyphicon-check form-control-feedback" data-ng-if="DefaultQuestionType == 1"></span>
                    <span class="glyphicon glyphicon-record form-control-feedback" data-ng-if="DefaultQuestionType == 2"></span>
                </div>
                <div class="form-group">

                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-success" data-ng-disabled="questionForm.$invalid" data-ng-click="addQuestion()">
                            <i class="glyphicon glyphicon-plus"></i> Add Question
                        </button>
                        <button type="button" class="btn btn-success" data-ng-click="toggleType()">
                            <span data-ng-if="DefaultQuestionType==1"><i class="glyphicon glyphicon-check"></i> Checkbox</span>
                            <span data-ng-if="DefaultQuestionType==2"><i class="glyphicon glyphicon-record"></i> Option</span>
                        </button>

                        <!--<button type="button" class="btn btn-success" uib-dropdown-toggle>
                            <span data-ng-if="DefaultQuestionType==1"><i class="glyphicon glyphicon-check"></i> Multiple</span>
                            <span data-ng-if="DefaultQuestionType==2"><i class="glyphicon glyphicon-record"></i> Single</span>
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                            <li role="menuitem" data-ng-click="DefaultQuestionType = 1"><a href="#"><i class="glyphicon glyphicon-check"></i> Checkbox</a></li>
                            <li role="menuitem" data-ng-click="DefaultQuestionType = 2"><a href="#"><i class="glyphicon glyphicon-record"></i> Option</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#"><i class="glyphicon glyphicon-question-sign"></i> FAQ</a></li>
                        </ul>-->
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>